* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
}

nav {
  display: grid;
  place-items: center;
  margin-top: 20px;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

a {
  text-decoration: none;
  margin: 20px;
  font-family: "Lexend Deca", sans-serif;
  color: #fff;
}

main {
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 20px;
}

main div {
  padding: 2rem;
  text-align: center;
}

.red {
  background-color: red;
  grid-column: 1/4;
  grid-row: 1/3;
}

.yellow {
  background-color: yellow;
  grid-column: 4/5;
  grid-row: 1/3;
}

.green {
  background-color: green;
  grid-column: 1/3;
  grid-row: 3/5;
}

.blue {
  background-color: blue;
  grid-column: 3/5;
  grid-row: 3/4;
}

.blue.two {
  background-color: blue;
  grid-column: 3/5;
  grid-row: 4/5;
}
